[Unit]
Description=Monthly PrepperPi Content Update

[Timer]
OnCalendar=monthly
RandomizedDelaySec=86400
Persistent=true

[Install]
WantedBy=timers.target
